*{
    padding: 0;
    margin: 0;
    font-family: Palatino;
}
.navbar {
    background-color: #333; 
    color: #fff; 
    width: 100%;
    position: fixed;
    transition: top 0.3s; 
    z-index: 1000; 
    box-shadow: 0px 2px 10px#555;
  }
.hero-bg{
    background:#fff;
    width: auto;
    color: black;
    height: auto;
}
.speclist-edu ul {
    list-style-type: none;
    gap: 24px;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.blue{
    color: #0099ff;
}
.shadow{
    text-shadow: #555 8px 8px 6px;
}
.spec-im{
    background: #fff;
    color: #000;
    padding: 20px 20px;
    border-radius: 15px;
    height: 160px;
    width: 300px;
    align-content: center;
    font-size: 13px;
    box-shadow: #555 5px 5px 10px;
}
.spec-pro{
    background: #fff;
    color: #000;
    padding: 20px 20px;
    border-radius: 15px;
    height: 300px;
    width: auto;
    align-content: center;
    font-size: 13px;
    box-shadow: #555 5px 5px 10px; 
}
.spec{
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 15px;
    height: 80px;
    width: 300px;
    text-align: center;
    align-content: center;
    font-size: 13px;
    box-shadow: #555 1px 5px 10px;
}
.white{
    color: #fff;
}
.link{
    color: yellow;
}
.spec-bl{
    background:  #0099ff;
    color: #000;
    padding: 10px 30px;
    border-radius: 15px;
    height: 180px;
    width: 300px;
    align-content: center;
    font-size: 13px;
    box-shadow: blue 10px 10px 15px;
}
.spec-bl2{
    background:  #0099ff;
    color: #000;
    padding: 10px 30px;
    border-radius: 15px;
    height: 60px;
    width: 300px;
    align-content: center;
    font-size: 13px;
    box-shadow: blue 10px 10px 15px;
}
.spec-bl3{
    background:  #0099ff;
    color: #000;
    padding: 10px 30px;
    border-radius: 15px;
    height: auto;
    width: auto;
    align-content: center;
    font-size: 13px;
    box-shadow: blue 10px 10px 15px;
}
.speclist-bl{
    display: flex;
    justify-content: center;

}
.bold{
    font-weight: bold;
}
.speclist-bl ul{
    gap: 24px;
    display: flex;
}
.speclist-bl ul li{
    list-style-type: none;
}
.speclist ul{
    gap: 24px;
    display: flex;
}
.navbar{
    background-color: #0099ff;
}
.speclist ul li{
    list-style-type: none;
}
#hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-img img{
    border-radius: 60%;
    box-shadow: 4px 3px 50px  #0099ff
}
#hero-img img:hover{
    box-shadow: 0px 0px 50px gray
}
.hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.gap ul li{
    gap: 24px;
}
.public{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gray{
    /* color:  #0099ff; */
    background:  white;
    color: #000;
    padding: 10px 30px;
    border-radius: 15px;
    height: auto;
    width: auto;
    align-content: center;
    font-size: 13px;
    box-shadow: #555 10px 10px 15px;
}
.hero ion-icon{
    font-size: 25px;
    font-weight: bold;
}
.hero span{
    display: flex;
    align-items: center;
}
.h2{
    font-size: 33px;
    font-weight: bold;
}
.hero h4{
    font-weight: bold;
}

/* specialization */
.specialization{
    background: #0099ff;
    height: auto;
    width: auto;
    color: white;

}

.social ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.social ion-icon{
    font-size: 35px;
}
.social-skill ion-icon{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: #555 10px 10px 15px;
    font-size: 35px;}

.social-skill ion-icon:hover{
    box-shadow: 0px 0px 30px #555;
}

.social-skill ul{
    gap: 20px;
    list-style-type: none;
    display: flex;
}
.media{
    color: #979797;
}
.media:hover{
    color: #555;
    text-shadow: 10px 10px 5px white;
}
.black{
    color: #000;
}
tr th td{
    color: white;
}
.table{
    color:  #000;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 30px;
}
.upper{
    box-shadow: #0099ff 0px 10px 2px;
    border-bottom: 1px solid #0099ff ;
}

.country{
    background: url(../Images/Austria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.country2{
    background: url(../Images/Czech.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country3{
    background: url(../Images/England.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country5{
    background: url(../Images/France.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country4{
    background: url(../Images/FinLand.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country6{
    background: url(../Images/Germany.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country7{
    background: url(../Images/Italy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country8{
    background: url(../Images/Pakistan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country9{
    background: url(../Images/Saudi\ Arabia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: #000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}.country10{
    background: url(../Images/SwitzerLand.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:200px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.icon{
    font-size: 15px;
}
@media screen and (max-width : 767px) {
    *{
        font-size: 20px;
    }
    .hero{
        height: 75vh;
    }
    .collection{
        padding-left: 0px;
    }
    .speclist ul{
       display: flex;
       flex-direction: column;
    }
}
@media screen and (max-width : 1000px) {
    .speclist-bl ul{
        display: flex;
        flex-direction: column;
     }
     .speclist-edu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}